# From Clerk dashboard → API Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZGVjaWRpbmctY29sbGllLTc5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_q97ty6fagLT1V71yRVnqAfxvI6CJKWhUbrNUaEqs29

# Your backend URL (for tRPC)
NEXT_PUBLIC_API_URL=http://localhost:3001